.checkin-toggle {
    position: relative;
    top: -1px;
    right: -6px;
}
 
.check-btn {
    --slds-c-button-radius-border: 0.75rem;
    --slds-c-button-line-height: 1.5rem;
    font-size: 0.75rem;
    padding: 0 0.6rem;
    height: 1.8rem;
}
 
.disabled-dashboard {
    pointer-events: none;
    opacity: 0.5;
}
 
.main-container {
    background-color: #2683bd;
}
 
.greeting-card {
    background-color: #2683bd;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 0px;
    margin: 0px;
    height: 160px;
}
 
.greeting-line {
    font-weight: 400;
    margin-bottom: 4px;
}
 
.greeting-line:nth-child(1),
.greeting-line:nth-child(2) {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
 
.greeting-line:nth-child(3),
.greeting-line:nth-child(4) {
    font-size: 12px;
}
 
.user-section {
    height: 140px;
}
 
 
.user-name {
    color: rgba(255, 255, 255, 0.655);
    font-weight: 500;
    font-size: 16px;
}
 
 
.dashboard-container {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: -10px; */
 
}
 
.dashboard-wrapper {
    /* width: 100vw; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 80vh;
    background-color: white;
}
 
/* .dashboard-list {
    padding: 0.5rem 1rem;
} */
 
.header-section {
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px 25px;
}
 
.dashboard-list {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 0;
    background: #fff;
}
 
.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    transition: background 0.2s ease;
}
 
.list-item:hover {
    background: #f4f4f4;
}
 
.list-icon {
    margin-right: 0.75rem;
    --slds-c-icon-color-foreground-default: currentColor;
}
 
.list-label {
    flex: 1;
    font-weight: 500;
    color: #333;
    font-size: 15px;
    font-family: sans-serif;
}
 
.list-count {
    font-weight: 600;
    font-size: 1rem;
}
 
.blue-icon,
.blue-text {
    color: #3366cc;
}
 
.amber-icon,
.amber-text {
    color: #c19400;
}
 
.green-icon,
.green-text {
    color: #2ecc71;
}
 
.red-icon,
.red-text {
    color: #e74c3c;
}
 
.card {
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #6EB1D6;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 3px 0px 2px 3px rgb(187 187 187 / 80%);
}
 
.card div {
    display: flex;
    flex-direction: column;
    /* flex-basis: 70%; */
    text-align: center;
}
 
.card .icon-section {
    /* background: #ffffff21; */
    /* color: #00a3cc; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff42;
    padding: 15px;
    /* height: 50px;
    width: 50px;
    padding: 20px;
    font-size: 25px; */
}
 
.card * {
    text-wrap: nowrap;
}
 
.card strong {
    /* color: black;
    font-weight: 900; */
    font-size: 25px;
}
 
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid #d8dde6; /* Similar to SLDS border */
}
 
.left-title,
.right-title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 9px;
    margin-right: 9px;
}