.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1000;
}

.modal {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.modal-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}


.payment-methods {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.payment-option {
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #1b96ff;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
}

.payment-option:hover {
    background-color: #dbeeff;
}