.combo-box {
    --lwc-heightInput: 1.1rem;
}

@media only screen and (max-width: 768px) {
    .combo-box {
        --lwc-heightInput: 0rem;
        line-height: 15px !important;
    }
}

input,
button,
textarea {
    background: #fff;
    font-size: 14px;
}

input:disabled,
button:disabled,
textarea:disabled {
    /* background-color: #eee; */
    cursor: not-allowed;
}



.input-box.active-grey .input-1 {
    border: 1px solid #dadce0;
}

.input-box.active-grey .input-label {
    color: #80868b;
    top: -8px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
}

.input-box.active-grey .input-label svg {
    position: relative;
    width: 11px;
    height: 11px;
    top: 2px;
    transition: 250ms;
}

.input-box {
    position: relative;
    /* margin: 10px 0; */
}

.input-box .input-label {
    position: absolute;
    color: #80868b;
    font-size: 14px;
    font-weight: 400;
    /* max-width: calc(100% - (2 * 8px)); */
    max-width: calc(100% - (2 * 12px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 7px;
    /*10px*/
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
    /* width: 80%; */
}

.input-box .input-label svg {
    position: relative;
    width: 15px;
    height: 15px;
    top: 2px;
    transition: 250ms;
}

.input-box .input-1 {
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    color: #202124;
    border: 1px solid #dadce0;
    padding: 8px;
    transition: 250ms;
}

.input-box .input-1:focus {
    outline: none;
    border: 2px solid rgb(114, 126, 140);
    /* #1a73e8;*/
    transition: 250ms;
}

.input-box.error .input-label {
    color: #f44336 !important;
    top: -8px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
}

.input-box.error .input-1 {
    border: 2px solid #f44336;
}

.input-box.focus .input-label,
.input-box.active .input-label {
    color: rgb(114, 126, 140);
    /*#1a73e8;*/
    top: -8px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
}

.input-box.focus .currency-symbol,
.input-box.active .currency-symbol,
.input-box.focus .suffix-label,
.input-box.active .suffix-label {
    display: block;
}

.input-box.focus .input-label svg,
.input-box.active .input-label svg {
    position: relative;
    width: 11px;
    height: 11px;
    top: 2px;
    transition: 250ms;
}

.input-box.active .input-1 {
    border: 2px solid rgb(114, 126, 140);
    /*#1a73e8;*/
}

.input-option {
    padding: 0.5rem 0.75rem;
}

.input-option:hover {
    background-color: #f3f3f3;
}

/*CURRENCY*/
.currency-input {
    padding-left: 22px !important;
}

.currency-symbol {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
    font-size: 13px;
    display: none;
}

.suffix-label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px;
    font-size: 13px;
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon-container {
    right: 5px;
    position: absolute;
    top: 10px;
}

.verified-icon {
    height: 15px;
    width: 15px;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    color: #202124;
    border: 0px solid #dadce0;
    padding: 8px;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}